<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="">
    <mat-tab label="Extract,Load Files">
        <div class="main">
            <div style="margin-top: 0px;">
                <mat-label>Type of factory:</mat-label>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="typeOfFactory">
                    <mat-radio-button value="nonsap">Non-SAP</mat-radio-button>
                    <mat-radio-button value="sap">SAP</mat-radio-button>
                </mat-radio-group>
            </div>
            <div style="margin-top: 30px;" *ngIf="typeOfFactory=='sap'">
                <mat-label>SAP Landscape:</mat-label>
                <mat-radio-group aria-label="Select an option" class="radiobtn" [(ngModel)]="landscape"
                    (ngModelChange)="onlandscapechange()">
                    <mat-radio-button [value]="item" *ngFor="let item of landscapelist">{{item}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div style="margin-top: 30px;" *ngIf="!isfactories">
                <!-- [disabled]="(typeOfFactory==''&&landscape=='')?true:false" -->
                <button mat-raised-button color="primary"
                    style="  background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);"
                    (click)="getFactorylist()">Get Factories</button>
            </div>
            <div style="margin-top: 30px;" *ngIf="isfactories">
                <form action="">
                    <mat-label>select Factory:</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-select (selectionChange)="onfactorychange($event)" [(ngModel)]="factoryselection"
                            placeholder="Select here...">
                            <input type="text" placeholder="Search here..." aria-label="Number" matInput
                                [formControl]="myControl">
                            <mat-option [value]="item" *ngFor="let item of filteredList1|async">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>

            <div style="margin-top: 30px;" *ngIf="!isdownloadQone">
                <!-- <input type="file" #file style="display: none;" (change)="sapupload($event)">
                <button mat-raised-button color="primary" (click)="file.click()"
                    style="background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);">Fetch SAP/Non-SAP
                    File</button>
                <p *ngIf="sapExtractFile!==''">{{sapExtractFile}}</p> -->
                <button mat-raised-button color="primary" (click)="fetchQOneExtract()"
                    style="margin-left: 10px;background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);">Fetch
                    Corresponding Q1 Extract</button>
            </div>
            <div *ngIf="isdownloadQone" style="margin-top: 30px;">
                <button mat-raised-button color="primary"
                    style="margin-left: 10px;background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);"
                    (click)="qonedownload()">downloadQoneFile</button>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Validate Files">
        <div class="main">
            <div>
                <button style="padding: 12px;
                border-radius: 10px">Validate SAP/Non-SAP file and Q1 Extract</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Compare Files">
        <!-- <div class="main">
            <div style="display: flex;flex-direction: row;justify-content: center;">
                <div>
                    <div>
                        <mat-label>SAP/Non-SAP File:</mat-label>
                        <input type="text" style="margin-left:20px">
                    </div>
                    <div style="margin-top: 20px;">
                        <mat-radio-group aria-label="Select an option" class="radiobtn">
                            <mat-radio-button value="1">All</mat-radio-button>
                            <mat-radio-button value="2">Material List</mat-radio-button>
                            <mat-radio-button value="3">Selective Material Id's</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>
                <div>
                    <div>
                        <mat-label>Q1 Extract:</mat-label>
                        <input type="text" style="margin-left:20px">
                    </div>
                    <div style="margin-top: 20px;">
                        <mat-radio-group aria-label="Select an option" class="radiobtn">
                            <mat-radio-button value="1">All</mat-radio-button>
                            <mat-radio-button value="2">Material List</mat-radio-button>
                            <mat-radio-button value="3">Selective Material Id's</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>
            </div>


            <div style="margin-top: 30px;">
                <button mat-raised-button style="background-color: #50c4cc;color: white;">Compare
                    Files/Fields</button>
                <button mat-raised-button style="margin-left: 10px;background-color: #50c4cc;color: white;">Download
                    Original Extracts</button>
            </div>
        </div> -->

        <div class="" align="center">

            <mat-card style="width: 600px;margin-top:2%;border:1px solid #0077b6;height: 200px;" class="">
                <mat-card-content class="">
                    <form [formGroup]="uploadForm">
                        <mat-label><b>Factory Name:</b></mat-label>
                        <mat-form-field appearance="outline" class="ml-2">
                            <input matInput [(ngModel)]="selectedFactory" placeholder="Enter name..">
                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline" class="ml-2">
                            <mat-select [(ngModel)]="selectedFactory" formControlName="factory" required>
                                <mat-option *ngFor="let item of factories" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <div class=" ml-5" style="display: flex;margin-top: 1%;
                    align-items: center; justify-content: center;">

                            <mat-label class="ml-4"><b>Choose SAP file:</b></mat-label>
                            <input type="file" (change)="onSAPFileSelected($event)" class="ml-4"
                                [ngStyle]="{'color':(sapFile!=='')?'#00b4d8':''}" required formControlName="sapData">
                            <!-- <mat-error>SAP file is Required</mat-error> -->
                        </div>
                        <div class=" ml-5" style="display: flex;margin-top: 2%;
                    align-items: center; justify-content: center;">

                            <mat-label class="ml-4"><b>Choose QOne file:</b></mat-label>
                            <input type="file" (change)="onQ1FileSelected($event)" class="ml-3"
                                [ngStyle]="{'color':(q1File!=='')?'#00b4d8':''}" required formControlName="qOneData">
                            <!-- <mat-error>QOne file is Required</mat-error> -->

                        </div>
                        <!-- <div *ngIf="sapFile==''&&q1File==''&&isFilesSelected">
                            <p style="color:red">Please Select SAP and QOne files</p>
                        </div> -->

                    </form>
                </mat-card-content>
            </mat-card>
            <div class="" style="display: flex;
            align-items: center;margin-top: 2%;
            justify-content: center;">
                <button mat-raised-button style="background-color:#00b4d8;color:white"
                    (click)="onUploadSAPQ1Files()">Upload</button>

            </div>
        </div>

        <div class="" align="center" style="margin-top: 2%;">
            <mat-card style="width: 900px;border:1px solid #0077b6;">
                <mat-card-content>
                    <div>
                        <mat-label><b>Info Field:</b></mat-label>
                        <mat-form-field appearance="outline" class="ml-2">
                            <mat-select [(ngModel)]="selectedInfoField" name="info" placeholder="Select here...">
                                <mat-option *ngFor="let item of infofields" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row ">
                        <div class="col-6">
                            <h3>SAP File Materials</h3>
                            <div style="display: flex;flex-wrap: wrap;margin:10px 45px;">
                                <mat-label style="margin:10px 10px"><b>Select an Option:</b></mat-label>
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="sapselectedOption" required
                                    (change)="sapoptionSelection($event)">
                                    <mat-radio-button value="saplist" class="ml-2">SAP Material List</mat-radio-button>
                                    <mat-radio-button value="sapselection" class="ml-2"> SAP Material Selection
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div *ngIf="sapselectedOption=='saplist'">
                                <textarea [(ngModel)]="sapmaterialList" id="listOfMaterials"
                                    style="width:300px;height:100px"></textarea>
                            </div>
                            <!-- <div *ngIf="isSelected" style="color:red">Select Option is required</div> -->
                            <div *ngIf="sapselectedOption=='sapselection'">
                                <form class="example-form">
                                    <mat-label>Select Materials</mat-label>
                                    <mat-form-field appearance="outline" class="ml-2">
                                        <mat-select multiple (selectionChange)="sapmaterialSelection($event)"
                                            [(ngModel)]="teamInitial" name="Materials SAP" #select>
                                            <input type="text" placeholder="Search here..." aria-label="Number" matInput
                                                [formControl]="myControl">
                                            <div class="select-all ml-3">
                                                <mat-checkbox [(ngModel)]="allSelected"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (change)="toggleAllSelection()">Select All</mat-checkbox>
                                            </div>
                                            <mat-option *ngFor="let option of filteredOptions|async" [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- <div *ngIf="dataService.sapmaterials.length==0&&q1materials.length==0">
                                        <span style="color:red">Please upload SAP and QOne files</span>
                                    </div> -->
                                </form>
                            </div>
                            <div *ngIf="selectedSAPMaterials.length>0&&sapselectedOption=='sapselection'">
                                <textarea style="width:300px;height:100px">{{selectedSAPMaterials}}</textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <h3>QOne File Materials</h3>
                            <div style="display: flex;flex-wrap: wrap;margin:10px 45px;">
                                <mat-label style="margin:10px 10px"><b>Select an Option:</b></mat-label>
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="q1selectedOption" required
                                    (change)="q1optionSelection($event)">
                                    <mat-radio-button value="q1list" class="ml-1">QOne MaterialList</mat-radio-button>
                                    <mat-radio-button value="q1selection" class="ml-1"> QOne MaterialSelection
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div *ngIf="q1selectedOption=='q1list'">
                                <textarea [(ngModel)]="q1materialList" id="listOfMaterials"
                                    style="width:300px;height:100px"></textarea>
                            </div>

                            <!-- <div *ngIf="isSelected" style="color:red">Select Option is required</div> -->

                            <div *ngIf="q1selectedOption=='q1selection'">
                                <form class="example-form">
                                    <mat-label>Select Materials</mat-label>
                                    <mat-form-field appearance="outline" class="ml-2">
                                        <mat-select multiple (selectionChange)="q1materialSelection($event)"
                                            [(ngModel)]="teamInitial1" name="Materials SAP" #select1>
                                            <input type="text" placeholder="Search here..." aria-label="Number" matInput
                                                [formControl]="myControl">
                                            <div class="select-all ml-3">
                                                <mat-checkbox [(ngModel)]="allSelected1"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (change)="toggleAllSelection1()">Select All</mat-checkbox>
                                            </div>
                                            <mat-option *ngFor="let option of filteredOptions1|async" [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                    <!-- <div *ngIf="dataService.sapmaterials.length==0&&dataService.q1materials.length==0">
                                        <span style="color:red">Please upload SAP and QOne files</span>
                                    </div> -->
                                </form>
                            </div>
                            <div *ngIf="selectedQ1Materials.length>0&&q1selectedOption=='q1selection'">
                                <textarea style="width:300px;height:100px">{{selectedQ1Materials}}</textarea>
                            </div>


                        </div>
                    </div>
                    <!-- <div *ngIf="sapmaterials.length==0&&q1materials.length==0 &&q1materialList=='' && sapmaterialList==''">
                        <span style="color:red">Please Select SAPMaterials & Q1Materials</span>
                    </div> -->

                </mat-card-content>
            </mat-card>
        </div>
        <div class="  " style="display: flex;margin-top: 10px;
                        align-items: center;
                        justify-content: center;">
            <button mat-raised-button style="background-color:#00b4d8;color:white" (click)="compareData()"
                type="reset">Compare</button>
            <button mat-raised-button class="ml-2" style="background-color:#00b4d8;color:white"
                (click)="comparedownload()">Download</button>

        </div>
    </mat-tab>
    <mat-tab label="Share Results">
        <div class="main">
            <div>

            </div>
            <div>
                <mat-label>Select Factory:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="1">amli</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div><button mat-raised-button style="margin-left: 10px;background-color: #50c4cc;color: white;"
                    (click)="authentication()">Authentication</button></div>
            <div>

                <mat-form-field class="example-chip-list">
                    <mat-label>TO:</mat-label>
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let mail of to" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(mail)">
                            {{mail}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Enter mail..." [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field class="example-chip-list">
                    <mat-label>CC:</mat-label>
                    <mat-chip-list #chipList1>
                        <mat-chip *ngFor="let mail of cc" [selectable]="selectable" [removable]="removable"
                            (removed)="ccremove(mail)">
                            {{mail}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Enter mail..." [matChipInputFor]="chipList1"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="ccadd($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>


            <div style="margin-top: 30px;">
                <button mat-raised-button style="margin-left: 10px;background-color: #50c4cc;color: white;"
                    (click)="sendResultsFile()">Share the
                    Results file
                    with Factory</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Upload Corrected Files">
        <div class="loaderspage">
            <mat-card style="width:80%;height:70%">
                <mat-card-content>
                    <div style="display: flex;">
                        <div class="loaderborder">
                            <div>
                                <input type="file" #mapfile style="display: none;" (change)="mappingFileupload($event)">
                                <button mat-raised-button color="primary" (click)="mapfile.click()"
                                    style="background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);">Fetch
                                    MappingData
                                    File</button>
                                <p *ngIf="mappingFile.name!==''" class="filename">{{mappingFile.name}}
                                </p>
                            </div>

                        </div>
                        <div style="margin-left: 10px;" class="loaderborder">
                            <div>
                                <input type="file" #reviewfile style="display: none;"
                                    (change)="reviewedFileupload($event)">
                                <button mat-raised-button color="primary" (click)="reviewfile.click()"
                                    style="background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);">Fetch
                                    ReviewedData
                                    File</button>
                                <p *ngIf="reviewedFile.name!==''" class="filename">{{reviewedFile.name}}</p>
                            </div>

                        </div>
                    </div>


                    <!-- <div style="display: flex;flex-direction: column;margin-top: 30px;"> -->
                    <div style="display: flex;">
                        <div class="loaderborder">
                            <div class="loadersfiles">
                                <mat-checkbox color='primary' [(ngModel)]='isIPL'>Prepare
                                    IPL(IP
                                    Loader)File</mat-checkbox>
                                <div *ngIf="isIPL" style="margin-left: 10px;">
                                    <input type="file" #charfile style="display: none;" (change)="iplupload($event)">
                                    <button mat-raised-button color="primary" (click)="charfile.click()"
                                        style="background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);">Fetch
                                        CharIPL File
                                    </button>
                                    <p *ngIf="charIPLFile.name!==''" class="filename">{{charIPLFile.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 10px;" class="loaderborder">
                            <div class="loadersfiles">
                                <mat-checkbox color='primary' [(ngModel)]='isIPU' style="margin-left: 2px;">Prepare
                                    IPU(IP
                                    Update)File</mat-checkbox>
                                <div *ngIf="isIPU" style="margin-left: 10px;">
                                    <input type="file" #charfile1 style="display: none;" (change)="ipuupload($event)">
                                    <button mat-raised-button color="primary" (click)="charfile1.click()"
                                        style="background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);">Fetch
                                        CharIPU File
                                    </button>
                                    <p *ngIf="charIPUFile.name!==''" class="filename">{{charIPUFile.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display:flex">
                        <div class="loaderborder">
                            <div class="loadersfiles">
                                <mat-checkbox color='primary' [(ngModel)]='isIPR'>Prepare
                                    IPR(IP
                                    Required)File</mat-checkbox>
                                <div *ngIf="isIPR" style="margin-left: 10px;">
                                    <input type="file" #charfile2 style="display: none;" (change)="iprupload($event)">
                                    <button mat-raised-button color="primary" (click)="charfile2.click()"
                                        style="background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);">Fetch
                                        CharIPR File
                                    </button>
                                    <p *ngIf="charIPRFile.name!==''" class="filename">{{charIPRFile.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 10px;" class="loaderborder">
                            <div class="loadersfiles">
                                <mat-checkbox color='primary' [(ngModel)]='isNewchr'>Prepare New
                                    Characteristics Loader File</mat-checkbox>
                                <div *ngIf="isNewchr" style="margin-left: 10px;">
                                    <input type="file" #charfile3 style="display: none;"
                                        (change)="newcharupload($event)">
                                    <button mat-raised-button color="primary" (click)="charfile3.click()"
                                        style="background-image: linear-gradient(to bottom , #4DB0AD 0%, #317D9E 90%);">Fetch
                                        NewChar File
                                    </button>
                                    <p *ngIf="newcharFile.name!==''" class="filename">{{newcharFile.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>







                    <!-- </div> -->
                </mat-card-content>
            </mat-card>
            <!-- <div>
                <mat-label>Select Factory:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="1">amli</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <div style="margin-top: 30px;">
                <button mat-raised-button style="margin-left: 10px;background-color: #50c4cc;color: white;"
                    (click)="sendingloaders()">Upload to Q1
                    all
                    the prepared files
                </button>
            </div>
            <div *ngIf="isloaderspushed" class="mt-3">
                <span style="color:rgb(22, 201, 22);font-size: 18px;font-weight: bold;">Your loader job {{jobId}} is
                    completed.Please check in
                    QualityOne..</span>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Extract,Compare,Sign-off">
        <div class="main">
            <div>
                <mat-label>Select Factory:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="1">amli</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="margin-top: 30px;">
                <button mat-raised-button color="primary" style="background-color: #50c4cc;">Extract Q1
                    File(of updated records)</button>
                <button mat-raised-button color="primary" style="margin-left: 10px;background-color: #50c4cc;">Compare
                    Q1 Extract and SAP/Non-SAP file</button>
                <button mat-raised-button color="primary" style="margin-left: 10px;background-color: #50c4cc;">Inform
                    Factory for a review and sign-off</button>
            </div>

        </div>
    </mat-tab>
</mat-tab-group>
<div class="progress-loader" *ngIf="isLoader">
    <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</div>